<!DOCTYPE html>
<html>
<head>
<title>PSYCHROMETRIC CHART</title>
<script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
 <script src="{{ url_for('static', filename='socket.io-1.2.0.js') }}"></script>
 <style type="text/css">
			
	body {
	  position: relative;
	  width: 960px;
	}

	svg {
	  font: 10px sans-serif;
	  shape-rendering: crispEdges;
	}

	rect {
	  fill: #ddd;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #fff;
	}

	button {
	  position: absolute;
	  right: 30px;
	  top: 30px;
	}

</style>		
</head>

<body>
<button>Reset</button>
<script>
var socket = io();
var mx,my;
socket.on('s2cS',function(Rdata)
{
	console.log(Rdata);
	//mx=x.invert(d3.mouse(this)[0]);
	//my=y.invert(d3.mouse(this)[1]);
	//data.push([mx,my]); //add last
	mx=Rdata.t;
	my=Rdata.h;
	console.log(mx,Rdata.t,my,Rdata.h)
	data.unshift([mx,my]); //add first
	//draw();
	data.pop(); //remove last
	//data.shift(); //remove first
	draw();
	//console.log("click: "+JSON.stringify(data))
});
//socket.on('s2cT',function(temp){
//	console.log(temp);
// 	mx=temp
// });
// socket.on('s2cH',function(humi){
// 	console.log(humi);
// 	my=humi
// });
var data=[];
for(var i=0;i<500;i++){
	data.push([0,0]);
}


//var x = d3.scale.linear()
//    .domain([13, 30])
//    .range([0, width]);
//var y = d3.scale.linear()
//    .domain([15, 70])
//    .range([0, height]);

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom,
    min_temp=15,max_temp=25,
    min_hum=20,max_hum=90;

var x = d3.scale.linear()
//    .domain([-width / 2, width / 2])
//    .range([0, width]);
    .domain([min_temp, max_temp])
    .range([0, width]);

var y = d3.scale.linear()
//    .domain([-height / 2, height / 2])
//    .range([height, 0]);
    .domain([max_hum, min_hum])
    .range([0, height]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickSize(-height);

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(5)
    .tickSize(-width);

var zoom = d3.behavior.zoom()
    .x(x)
    .y(y)
    .scaleExtent([1, 10])
    .on("zoom", zoomed);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .call(zoom);

svg.append("rect")
    .attr("width", width)
    .attr("height", height);

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

d3.select("button").on("click", reset);

svg.append("text")
	.attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
	.attr("transform", "translate("+ -1*margin.right +","+(height/2)+")rotate(-90)")  // text is drawn off the screen top left, move down and out and rotate
	.text("Humidity [%RH]");

svg.append("text")
	.attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
	.attr("transform", "translate("+ width/2 +","+(height+margin.bottom-5)+")")  // centre below axis
	.text("Temperature [℃]");


function draw(){
	var circles=svg.selectAll("circle")
		.data(data)
	circles
		.transition().duration(1000)
		.attr("fill","#f90")
		.attr("r",5)
		.attr("fill-opacity", function(d,i) { 
			return Math.pow(0.99,i); 
		})
		.attr("cx", function(d,i) { return x(d[0]); })
		.attr("cy", function(d,i) { return y(d[1]); })
	circles.enter().append("circle")
		.transition()
		.attr("r",0)
		.attr("cx", function(d,i) { return x(d[0]); })
		.attr("cy", function(d,i) { return y(d[1]); })
		.attr("fill","#aa0")
		
	circles.exit().transition().duration(1000)
		.attr("r",0)
		.remove();
}


function zoomed() {
	svg.select(".x.axis").call(xAxis);
	svg.select(".y.axis").call(yAxis);
	
	var circles=svg.selectAll("circle")
		.data(data)
	circles
		.transition().duration(0)
		.attr("fill","#f90")
		.attr("r",5)
		.attr("fill-opacity", function(d,i) { 
			return Math.pow(0.95,i); 
		})
		.attr("cx", function(d,i) { return x(d[0]); })
		.attr("cy", function(d,i) { return y(d[1]); })
	circles.enter().append("circle")
		.transition()
		.attr("r",0)
		.attr("cx", function(d,i) { return x(d[0]); })
		.attr("cy", function(d,i) { return y(d[1]); })
		.attr("fill","#aa0")
		
	circles.exit().transition().duration(0)
		.attr("r",0)
		.remove();
}

function reset() {
  d3.transition().duration(750).tween("zoom", function() {
    var ix = d3.interpolate(x.domain(), [min_temp, max_temp]),
        iy = d3.interpolate(y.domain(), [max_hum, min_hum]);
    return function(t) {
      zoom.x(x.domain(ix(t))).y(y.domain(iy(t)));
      zoomed();
    };
  });
}
</script>
</body>
</html>
