<!DOCTYPE html>
<html lang="en">
<head>
  <title>data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='raphael-min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-1.8.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='socket.io-1.2.0.js') }}"></script>
</head>
<meta http-equiv="refresh" content="1">

</html>