<html>
	<body>
		<h1><font color="orange"> SmartMushroomBox </font></h1>
		<h2> Mode 
		<button onclick="ClickA()"> Auto </button>
		<button onclick="ClickM()"> Manual </button>
		<span id="Click"> </span> 
		<h1><font color="red"> SET Temperature_:  </font>
			<input type="range" min="0.00" max="100.00" value="0"  oninput="showValueT(this.value)" />
				<span id="range">0</span>
		<h1><font color="blue"> SET Humidity____: </font>
			<input type="range" min="0.00" max="100.00" value="0"  oninput="showValueH(this.value)" />
				<span id="range2">0</span>
		<h1><font color="black"> SET LightLED </font> </h1>
			<p><font color="Red"> Red </font>
			<input type="range" min="0.00" max="255.00" value="0"  oninput="Red(this.value)" />
				<span id="Red">0</span>
			<p><font color="Green"> Green </font>
			<input type="range" min="0.00" max="255.00" value="0"  oninput="Green(this.value)" />
				<span id="Green">0</span>
			<p><font color="Blue"> Blue </font>
			<input type="range" min="0.00" max="255.00" value="0"  oninput="Blue(this.value)" />
				<span id="Blue">0</span>
		<h1><font color="Gray"> Status </font> </h1>
		<p> Status
		<a id="status"></a>
		<p> Cooler 
		<a id="cooler"></a>
		<p> Pump 
		<a id="Pump"></a>

	<script src="{{ url_for('static', filename='socket.io-1.2.0.js') }}"></script>
<script type="text/javascript" charset="utf-8">
	var socket = io();
	//var showValueT =();
	//var showValueH = ();
	var data={"T": 0, "H": 0, "R": 0, "G": 0, "B": 0}
	var command = 0;
	function showValueT(newValueT)
	{
		document.getElementById("range").innerHTML=newValueT;
		data["T"]=newValueT;
		socket.emit('c2s',  JSON.stringify(data));
	}
	function showValueH(newValueH)
	{
		document.getElementById("range2").innerHTML=newValueH;
		data["H"]=newValueH;
		socket.emit('c2s', JSON.stringify(data));
	}
	function Red(newValueRed)
	{
		document.getElementById("Red").innerHTML=newValueRed;
		data["R"]=newValueRed;
		socket.emit('c2s', JSON.stringify(data));
	}
	function Green(newValueGreen)
	{
		document.getElementById("Green").innerHTML=newValueGreen;
		data["G"]=newValueGreen;
		socket.emit('c2s', JSON.stringify(data));
	}
	function Blue(newValueBlue)
	{
		document.getElementById("Blue").innerHTML=newValueBlue;
		data["B"]=newValueBlue;
		socket.emit('c2s', JSON.stringify(data));
	}
	function senddata(newValueT,newValueH)
	{
		var obj = JSON.stringify(newValueTs,newValueHs);
		socket.emit('c2s',  obj);
	}
	
	socket.on('s2c', function(Sdata)
		{
		console.log(Sdata);
		document.getElementById("status").innerHTML=Sdata;
		});
	socket.on('s2cC', function(C)
	{
		/*if (C==101);
		{
			c_data = "ON"
		}
		if (C==100);
		{
			c_data = "OFF"
		}

		document.getElementById("cooler").innerHTML=c_data;*/
		document.getElementById("cooler").innerHTML=C;
	});
	socket.on('s2cP', function(P)
		{
		document.getElementById("Pump").innerHTML=P;
		});
	function ClickA(command)
	{
		document.getElementById("Click").innerHTML="Auto";
		command = 1;
		socket.emit('c2sClick' ,command);
		console.log(command)
	} 
	function ClickM(command)
	{
		document.getElementById("Click").innerHTML="Manual";
		command = 2;
		socket.emit('c2sClick' ,command);
		console.log(command)
	}
		
</script>
</html>